/* EJEMPLO 1 */
table.example1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table.example1,
table.example1 td,
table.example1 th {
    /* border: 0;
    border-spacing: 0; */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

table.example1 td,
table.example1 th {
    padding: 15px 70px;
    text-align: center;
    font-weight: normal;
}

table.example1 thead {
    background-color: #000;
    color: #fff;
}

table.example1 tbody tr:nth-child(odd) {
    background-color: #eee;
    color: #000;
}


/* EJEMPLO 2 */
table.example2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #76b1a2;
    /* margin-left: auto;
    margin-right: auto; */
}

table.example2, 
table.example2 td,
table.example2 th {
    border-collapse: collapse;
}

table.example2 td,
table.example2 th {
    padding: 15px 30px;
    text-align: center;
    font-weight: normal;
}

table.example2 thead {
    background-color: #43967b;
    color: white;
}

/* BORDES REDONDEADOS THEAD */
/* Esquina superior izquierda */
table.example2 th:first-child {
    border-top-left-radius: 10px;
}

/* Esquina superior derecha */
table.example2 th:last-child {
    border-top-right-radius: 10px;
}

table.example2 tbody tr:nth-child(even) {
    background-color: #f3f3f3;
    color: #008d60;
}


/* EJEMPLO 3 */
table.example3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-spacing: 0;
    border: 2px solid;
}

table.example3 thead {
    background-color: #333;
    color: white;
}

table.example3 td,
table.example3 th {
    padding: 10px 15px;
    font-weight: normal;
}

table.example3 tbody td {
    text-align: center;
}

table.example3 tbody th {
    text-align: left;
}

table.example3 tbody tr:nth-child(even) {
    background-color: #eee;
}

table.example3 tbody tr:nth-child(even) th {
    background-color: #2f54c5;
    color: white;
}

table.example3 tbody tr:nth-child(odd) th {
    background-color: #3f65c5;
    color: white;
}

table.example3 td.highlight {
    background-color: #f9d949;
    font-weight: bold;
}


/* EJEMPLO 4 */
table.example4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 0;
    text-align: center;
}

table.example4 th,
table.example4 td {
    padding: 20px 30px;
}

table.example4 tbody tr:nth-child(odd) {
    background-color: #ededed;
}

table.example4 tbody a.btn {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

table.example4 tbody a.btn.progress {
    background-color: #53a551;
    color: white;
}

table.example4 tbody a.btn.open {
    background-color: #f6c344;
}

table.example4 tbody a.btn.hold {
    background-color: #cb444a;
    color: white;
}

/* EJEMPLO 5 */
table.example5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 0;
    text-align: center;
}

table.example5 tbody th,
table.example5 tbody td {
    border-bottom: 1px solid #b2b5c2;
}

table.example5 th,
table.example5 td {
    padding: 30px 40px;
}

table.example5 thead th {
    background-color: #5f13ef;
    color: white;
    font-size: 12px;
}

table.example5 tbody tr th:nth-child(odd),
table.example5 tbody tr td:nth-child(odd){
    background-color: #e9ebf7;
}

table.example5 .btn {
    /* display: inline-block; */
    background-color: #5f13ef;
    color: white;
    padding: 15px;
    text-decoration: none;
}