/* Estilos generales para el cuerpo de la página */
body {
    font-size: 16px;
    margin: 0;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para la lista de navegación principal */
nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilos para los enlaces de la barra de navegación */
nav > ul li a {
    display: block;
    background-color: #3787ce;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    font-weight: 600;
}

/* Cambios de estilo cuando el usuario pasa el cursor sobre los enlaces de la barra de navegación */
nav > ul > li > a:hover {
    background-color: black;
    color: white;
}

/* Estilos para la lista desplegable */
ul.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

/* Muestra la lista desplegable cuando el usuario pasa el cursor sobre el elemento principal */
nav > ul > li:hover ul.dropdown {
    display: block;
}

/* Estilos para los enlaces dentro del menú desplegable */
ul.dropdown a {
    background: #000;
}

/* Cambios de estilo cuando el usuario pasa el cursor sobre los enlaces del menú desplegable */
ul.dropdown a:hover {
    background-color: #3787ce;
}