/* EJERCICIO 5 */
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
header h1 {
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 30px 20px;
    margin-top: 0;
    margin-bottom: 0;
}

header h1{
    font-size: 24px;
    padding: 10px 5px;
    margin-bottom: 20px;
}

header .imgContainer {
    display: flex;
    justify-content: start;
    background-color: #ccc;
}

header .imgContainer img{
    max-width: 100px;
    border: 2px dashed #000;
}

/* EJERCICIO 6 */
header.ejercicio6 .imgContainer {
    gap: 10px;
    padding: 5px;
}