/* EJERCICIO 1 */
div.ejercicio1 {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: gainsboro;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}


.ejercicio1 .rojo {
    width: 40%;
    height: 50px;
}

.ejercicio1 .azul {
    width: 40%;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ejercicio1 .amarillo {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.ejercicio1 .verde {
    width: 40%;
    height: 100px;
    position: absolute;
    bottom: 10px;
}

/* EJERCICIO 2 */
div.ejercicio2 {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: gainsboro;
    font-weight: bold;
    font-size: 30px;
}

.ejercicio2 .rojo {
    width: 80px;
    height: 80px;
}

.ejercicio2 .azul {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ejercicio2 .amarillo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.ejercicio2 .verde {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

/* EJERCICIO 3 */
div.ejercicio3 {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: gainsboro;
    font-weight: bold;
    font-size: 30px;
}

.ejercicio3 .rojo {
    width: 40%;
    height: 80px;
    position: absolute;
    top: 60%;
    right: 25%;
    z-index: 4;
}

.ejercicio3 .azul {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 30%;
    z-index: 1;
}

.ejercicio3 .amarillo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50px;
    z-index: 3;
}

.ejercicio3 .verde {
    width: 150px;
    height: 120px;
    position: absolute;
    left: 15%;
    top: 30%;
    z-index: 2;
}

/* EJERCICIO 4 */
div.ejercicio4 {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: gainsboro;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    font-size: 30px;
}

.ejercicio4 .rojo {
    display: inline-block;
    width: 20%;
    height: 260px;
}

.ejercicio4 .azul {
    display: inline-block;
    width: 20%;
    height: 260px;
}

.ejercicio4 .amarillo {
    display: inline-block;
    width: 20%;
    height: 260px;
}

.ejercicio4 .verde {
    display: inline-block;
    width: 20%;
    height: 260px;
}

/* EJERCICIO 5 */
div.ejercicio5 {
    width: 500px;
    height: 300px;
    position: relative;
    background-color: gainsboro;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    font-size: 30px;
}

.ejercicio5 .rojo {
    width: 80%;
    height: 50px;
    position: absolute;
    top: 95px;
    left: 50px;
}

.ejercicio5 .azul {
    width: 15%;
    height: 260px;
    position: absolute;
    top: 50px;
    left: 20%;
}

.ejercicio5 .amarillo {
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: 95px;
    left: 50px;
}

.ejercicio5 .verde {
    width: 15%;
    height: 260px;
    position: absolute;
    top: 50px;
    right: 20%;
}

/* EJERCICIO 8 */
header.ejercicio8 {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

aside.ejercicio8 {
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 42.5%;
}

main.ejercicio8 {
    border: 1px solid black;
    padding: 20px;
    margin-left: 20px;
    float: right;
    width: 42.5%;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

footer.ejercicio8 {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
}

/* EJERCICIO 9 */
header.ejercicio9 {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.top-menu {
    position: absolute;
    top: 5px;
    right: 10px;
}

.top-menu ul {
    list-style: none;
}

.top-menu ul li {
    display: inline-block;
}

.principal-menu ul {
    list-style-type: none;
    text-align: right;
}

.principal-menu ul li {
    display: inline-block;
}