/* El tipo de letra de la página es Arial, con el tipo de respaldo Verdana. */
body {
    font-family: Arial, Verdana;
}

/* El encabezado de nivel 1 utiliza el tipo de letra Georgia, con un tamaño de letra de 32 px y en versalitas. */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-variant: small-caps;
}

/* El encabezado de nivel 2 utiliza el tipo de letra Georgia, con un tamaño de letra de 24 px, en cursiva y en versalitas. */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    font-variant: small-caps;
}

/* Los títulos de los elementos de las listas aparecen en negrita. */
li {
    font-weight: bold;
}

/* El contenido de los elementos de las listas, aunque están etiquetados como <strong>, no se visualizan en negrita. */
li strong {
    font-weight: normal;
}